main {
  display: flex !important;
}
.container-familia {
  display: flex;
  flex-direction: column;
  width: 50% !important;
  justify-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
aside {
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

img {
  vertical-align: middle;
}
