main {
  display: flex !important;
}
.main {
  display: flex !important;
}
/* input {
  width: 40% !important;
}
.form-control {
  width: 40% !important;
} */
.container-fisicas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 50% !important;
}
aside {
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}
img {
  vertical-align: middle;
}
